@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService authorizationService

@{
	var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if(result.Succeeded)
{
	<div class="dropdown">
		<a class="btn btn-outline-danger dropdown-toggle" href="#"
		   id="managedropdownmenu" data-bs-toggle="dropdown">
			Manage
		</a>
		<div class="dropdown-menu dropdown-menu-end" aria-labelledby="managedropdownmenu">
			<a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
			<a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Quan ly danh sach</a>
			<a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">Quan ly thanh vien</a>
			<a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Quan ly role</a>
			<a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">Quan ly Category</a>
		</div>
	</div>
}
