@{
	ViewData["title"] = "Xoa Db";
}

<h1>@ViewData["title"]</h1>

<p class="alert alert-danger">
	co chac chan xoa Db khong??
</p>
<form method="post" >
	<button type="submit" class="btn btn-danger">Xoa</button>
	<hr />
	<a asp-action="Index">Quay ve trang quan ly</a>
</form>