@page "/Razor.html"
@model App.Pages.RazorModel
@{
	Layout = "_Layout";
}
@{
	ViewData["title"] = "RazorPage";
}
<h2>@ViewData["title"]</h2>
<p>Trang Razor Pgae là 1 template engine trong .NET, nó là TEMPLATE ENGINE mặc định của ASP.NET MVC, có chức năng render(dựng) HTML từ các View(cshtml).
	View(cshtml) cho phép viết HTML và nhúng mã C#
</p>
